*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
classes
target
out
dependency-reduced-pom.xml
*.sublime-*
/scratch
node_modules
dist
.setting
README.html
.idea
.bak
.ips
.iws
*.class
*.log
*.iml
*.sh
/stop.sh
/start.sh
/*.ipr
/*.iws
/logs
/.gradle
/.idea
/.settings
/bin
